<li class="list-group-item" [ngClass] = "{'list-group-item-success' : post.loveIts>0 , 'list-group-item-danger' : post.loveIts<0}">
  <div class="post_top">
    <p class="pull-right">{{post.createdAt | date : 'short'}}</p>
    <h3>{{post.title}}</h3>
  </div>
  <p>{{post.content}}</p>
  <button class="btn btn-success" (click) = "like(post)" >Love it</button>
  <button class="btn btn-danger" (click) = "dislike(post)" >Don't love it</button>
  <button class="btn btn-warning pull-right" (click) = "onDeletePost(post)" >Supprimer ce post</button>
</li>